.ONE::after {
	content: 'o';
	position: absolute;
	bottom: -6px;
}

.FIVE::after {
	content: 'o';
	position: absolute;
	top: -6px;
}

.CHANGE {
	width: 27px !important;
}

.CHANGE::after {
	content: '-----'
}

.mark {
	text-align: center;
	height: 15px;
	width: 18px;
	position: relative;
}

.content-display {
	padding: 20px;
	padding-bottom: 0;
	display: flex;
	flex-flow: column wrap;
}
